.skill {
  @media only screen and (max-width: $desktop) {
    margin-bottom: 2rem;
  }

  .skill__card {
    background-color: var(--background-alt-color);
    border-radius: 0.5rem;
    padding: 1rem;
    height: 100%;

    .skill__header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      .skill__icon {
        font-size: 1.5rem;
      }

      .skill__title {
        margin-bottom: 0;
      }
    }

    .skill__badges {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 1rem;
    }

  }
}